button#edit-self-btn.btn(
  type="button"
  data-toggle="modal"
  data-target="#editSelfModal"
)
  i.fas.fa-edit
div.modal.fade#editSelfModal(
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
)
  div.modal-dialog(role="document")
    div.modal-content
      div.modal-header
        h1 Change Password
        button.close(
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        )
          span(aria-hidden="true") &times;
      div.modal-body
        form#newPassword(
          method="POST"
          action="/newpassword"
        )
          input#new-password(
            type='password'
            name='newPasswordCheck'
            placeholder='New Password'
            autocomplete='on'
            required
          )
          input#new-password-check(
            type='password'
            name='newPassword'
            placeholder='Confirm New Password'
            autocomplete='on'
            required
          )
          div.modal-footer
            button.btn(type="submit") Submit
