.collapse.row.editguest(id=member._id).edit
  .card.card-body
    h1 Edit Guest
    p - #{member.firstName} #{member.lastName} -
    form.editGuest(
      method="POST"
      action="/editguest"
    )
      p *Leave empty if no group/family changes are needed.
      label(for="group-select") Choose a group or family:
        select.group-select(name="groupName")
          option(value="Choose") Choose a Group/Family
          each group in groups
            option(
              value=group.groupName
            ) #{group.groupName}
      p Or
      label(for="newGroup") Create a new group/family:
      input.group-new-name(
        type="text"
        name='newGroup'
        pattern='[A-Za-z\s]+'
        placeholder='Group/Family Name'
      )
      input.first-name-input(
        type='text'
        name='firstName'
        pattern='[A-Za-z\s]+'
        placeholder='First Name'
        value=member.firstName
        required
      )
      input.last-name-input(
        type='text'
        name='lastName'
        pattern='[A-Za-z\s]+'
        placeholder='Last Name'
        value=member.lastName
        required
      )
      fieldset
        legend Has this guest confirmed attendance?
        if member.confirmed
          input(
            id='confirmY' + member._id
            type="radio"
            name="confirmY"
            checked
          )
          label(for='confirmY' + member._id) Yes
          input(
            id='confirmN' + member._id
            type="radio"
            name="confirmN"
          )
          label(for='confirmN' + member._id) No
        else
          input(
            id='confirmY' + member._id
            type="radio"
            name="confirmY"
          )
          label(for='confirmY' + member._id) Yes
          input(
            id='confirmN' + member._id
            type="radio"
            name="confirmN"
            checked
          )
          label(for='confirmN' + member._id) No
      fieldset
        legend Is this guest a child?
        if member.child
          input(
            id='childY' + member._id
            type="radio"
            name="childY"
            checked
          )
          label(for='childY' + member._id) Yes
          input(
            id='childN' + member._id
            type="radio"
            name="childN"
          )
          label(for='childN' + member._id) No
        else
          input(
            id='childY' + member._id
            type="radio"
            name="childY"
          )
          label(for='childY' + member._id) Yes
          input(
            id='childN' + member._id
            type="radio"
            name="childN"
            checked
          )
          label(for='childN' + member._id) No
      label(for="notes") Notes:
      textarea.notes(
        name="notes"
        rows="3"
        cols="50"
        maxlength="200"
        wrap="hard"
        value=member.notes
        placeholder="Only 200 Characters"
      )
      input.id-hide(
        type='text'
        name='id'
        placeholder='Guest Id'
        value=member._id
        readonly
      )
      input.id-hide(
        type='text'
        name='groupid'
        placeholder='Group Id'
        value=member.group
        readonly
      )
      button.btn(type="submit") Submit
