include includes/header
body
  include includes/navbar
  div#guests-header.container-fluid
    div.row.justify-content-center
      div.col.align-self-center
        h1 Hello
          span= name
          include includes/edit_self_modal
      div#search.col.align-self-center
        input(
          type='text'
          id='searchGuests' 
          name='search'
          pattern='[A-Za-z\s]+'
          placeholder='Search Guests'
        )
        button.btn(
          type="submit"
        )
          i.fa.fa-search
    div.row.justify-content-center
      div.col.align-self-center
        include includes/new_guest_modal
  div#guests-data.container-fluid
    div.row.justify-content-center
      div.col.align-self-center
        p Group/Family
      div.col.align-self-center
        p Name
      div.col.align-self-center
        p Confirmed
      div.col.align-self-center
        p Child
      div.col.align-self-center
        p Notes
      div.col.align-self-center
    each group in groups
      div.row.justify-content-center.group
        div.col.align-self-center
          p= group.groupName
      each member in group.members
        div.guest.row.justify-content-center
          div.col.align-self-center
          div.col.align-self-center
            p #{member.firstName} #{member.lastName}
          div.confirmed.col.align-self-center
            p= member.confirmed
          div.child.col.align-self-center
            p= member.child
          div.col.align-self-center
            p= member.notes
          div.col.align-self-center.edit-delete
            p
              a.btn( 
                data-toggle="collapse" 
                href="#" + member._id
                role="button" 
                aria-expanded="false" 
                aria-controls="collapseExample"
              )
                i.fas.fa-edit
            p
              a.btn( 
                data-toggle="collapse" 
                href="#delete" + member._id
                role="button" 
                aria-expanded="false" 
                aria-controls="collapseExample"
              )
                i.fas.fa-trash-alt
        include includes/edit_guest_modal
        include includes/delete_guest_modal
  div#data-footer.container-fluid
    div.row.justify-content-center
      div.col.align-self-center
        p Total Guests: 
          span#total-guests
      div.col.align-self-center
        p Confirmed Guests:
          span#confirmed-Guests
      div.col.align-self-center
        p Unconfirmed Guests:
          span#unconfirmed-Guests
      div.col.align-self-center
        p Number of Kids:
          span#kids-guests
