include includes/header
body
  include includes/navbar
  div#loginPage.container-fluid
    div.row.justify-content-center
      div.col.align-self-center
        form#login(
          method='POST'
          action='login'
        )
          fieldset#form-radios
            legend Choose a User
            //- div.row
            //-   div.col-sm
            //-     a#newUser(
            //-       href='createuser'
            //-     )
            //-       i.far.fa-plus-square 
            //-         span Add User
            div.row
              if users[0] === undefined
                div.col
                  p Please create a user.
              else
                each user in users
                  div.col-sm
                    input(
                      type="radio" 
                      id=user.name
                      name="user"
                      value=user.name
                    ) 
                    label(
                      for=user.name
                    ) #{user.name}
          if users[0] !== undefined
            div#form-password
              input(
                type='password'
                id='loginInput' 
                name='secrectCode'
                placeholder='Password'
                autocomplete='on'
                required
              )
              button.btn(
                type="submit"
              )  Submit
