include includes/header
body
  include includes/navbar
  div#photos.container-fluid
    h1 Photos
    div.tiny-floral.mx-auto
      img.floral.mx-auto(
        src='static/content/floral.png'
        alt='Floral'
      )
    img.img-thumbnail(
      src="static/content/closeup.png" 
      alt="Cocktail and Cooking Class"
    )
    img.img-thumbnail(
      src="static/content/glasses.png" 
      alt="Cocktail and Cooking Class"
    )
    img.img-thumbnail(
      src="static/content/cooking.png" 
      alt="Cocktail and Cooking Class"
    )
    img.img-thumbnail(
      src="static/content/beerpongwinners.png" 
      alt="Cocktail and Cooking Class"
    )
    img.img-thumbnail(
      src="static/content/japan.png" 
      alt="Cocktail and Cooking Class"
    )
    img.img-thumbnail(
      src="static/content/mothersday.png" 
      alt="Cocktail and Cooking Class"
    )
  include includes/footer
