include includes/header
body
  include includes/navbar
  div#travel.container-fluid
    h1 Travel
    img.floral.mx-auto(
      src='static/content/floral.png'
      alt='Floral'
    )
  div#travel-details.container-fluid
    div.row.justify-content-center
      div.col-lg.align-self-center
        h1 Hotel Accomodations
        p 816 Hotel
        p 801 Westport Rd, Kansas City, MO 64111
        p (816) 931-1000
        p Our hotel room rates start at $129 per night and there are THEME ROOMS available for an additional cost. Ask for the Amendola Wedding rate when reserving your room(s).
      div.col-lg.align-self-center
        if sky == 'Cloudy'
          p.fas.fa-cloud.fa-5x
        else if sky == 'Sunny'
          p.fas.fa-sun.fa-5x
        else if sky == 'Rainy'
          p.fas.fa-umbrella.fa-5x
        else if sky == 'Rain'
          p.fas.fa-umbrella.fa-5x
        else if sky == 'Clear'
          p.fas.fa-sun.fa-5x
        else if sky == 'Showers'
          p.fas.fa-umbrella.fa-5x
        else
          p.fas.fa-sun.fa-5x
        p Current Temperature: #{temp}F
        p Humidity: #{humidity}
        p Wind: #{wind}
    div#cityGuide.row.justify-content-center
      div.col.algin-self-center
        h1 City Guide
        div.container-fluid
          i.fas.fa-utensils.fa-5x
          div.row
            div.col-lg
              p Lidia's
              p 101 W 22nd St., Kansas City, MO
              p (816) 221 - 3722
              p
                a(
                  href="http://www.lidias-kc.com"
                ) www.lidias-kc.com
            div.col-lg
              p Jack Stack BBQ
              p 101 W 22nd St., Suite 300, Kansas City, MO
              p (816) 472 - 7427
              p
                a(
                  href="http://www.jackstackbbq.com"
                ) www.jackstackbbq.com
          i.fas.fa-building.fa-5x
          div.row
            div.col-lg
              p Union Station
              p 30 W Pershing Rd., Kansas City, MO
              p (816) 460 - 2020
              p
                a(
                  href="http://www.unionstation.org"
                ) www.unionstation.org
            div.col-lg
              p Nelson-Atkins Museum
              p 4525 Oak St., Kansas City, MO
              p (816) 751 - 1278
              p
                a(
                  href="http://www.nelson-atkins.org"
                ) www.nelson-atkins.org
          i.fas.fa-beer.fa-5x
          div.row
            div.col-lg
              p Pawn and Pint
              p 613 Walnut St., Kansas City, MO
              p (816) 701 - 9227
              p
                a(
                  href="http://www.pawnandpint.com"
                ) www.pawnandpint.com
            div.col-lg
              p Julep
              p 4141 Pennsylvania Ave., Suite 104, Kansas City, MO
              p (816) 216 - 7000
              p
                a(
                  href="http://www.julepkc.com"
                ) www.julepkc.com
          
  include includes/footer
