include includes/header
body
  include includes/navbar
  div.container-fluid#party-title
    h1.party-title Wedding Party
    img.floral.mx-auto(
      src='static/content/floral.png'
      alt='Floral'
    )
  div.container-fluid#party-container
    div.row.party-row
      div.col.offset-sm-1
        h1 Nicole Einerson
        p.sub-head Maid of Honor
        p Nicole and I met when my family moved to Minnesota in the 5th grade. We danced together at a fun after-school dance group, but both decided to upgrade our dance abilities by joing a local dance company. After that, we spent a majority of our after-school time together taking dance classes, rehearsing for shows, and working on competition dances. Most summers were spent at the studio with our crazy 8am-8pm M-S rehearsal schedule for nationals every year. Even though we went to different colleges and moved to different cities, we always kept in touch and would take time to visit.
      div.col.offset-sm-3.align-self-center
        img.party-photos.img-thumbnail(
          src='static/content/nicole.png'
          alt='Nicole'
        )
    div.row.party-row
      div.col.offset-sm-1
        h1 Stephanie Farber
        p.sub-head Bridesmaid
        p Steph and I met our freshman of college at the University of Kansas as roommates. We had fun playing card games, mario kart, and guitar hero (Steph kicked ass at guitar hero but I always won mario kart :) ). Steph was always down-to-earth and easy-going. She always seemed to make problems seem small and easy to conquer. We have remained good friends and I was fortunate enough to visit her in Japan while she and her husband are stationed there. They are expecting their first baby soon and I am excited to meet her!
      div.col.offset-sm-3.align-self-center
        img.party-photos.img-thumbnail(
          src='static/content/steph.png'
          alt='Steph'
        )
    div.row.party-row
      div.col.offset-sm-1
        h1 Jenna Surprenaunt
        p.sub-head Bridesmaid
        p Jenna and I also met in the 5th grade when my family moved to Minnesota. After we moved to Minnesota, Jenna's mom immediately invited me over for playdates to introduce me to her daughters and other girls my age. I spent most of my summers and snow-days hanging out with the Surprenaunts. Recently, Jenna started running and completed the Disney coast-to-coast challenge with my parents. She completed a 5k, 10k, Half and Full marathon at Disney World before completing another Half and Full marathon at Disneyland. 
      div.col.offset-sm-3.align-self-center
        img.party-photos.img-thumbnail(
          src='static/content/jenna.png'
          alt='Jenna'
        )
    div.row.party-row
      div.col.offset-sm-1
        h1 Jennifer Barboza
        p.sub-head Bridesmaid
        p Jenny and I met at work and became friends right away. We helped keep each other sane and motivated on hard days and celebrated each other's acheivements. With a love for wine, craft beer, and movies we always had a lot to talk about. She also loved to come over and play VR in our tiny apartment where trying not to hit furniture was also a part of the game. Always available for a chat when I need it, Jenny is a great friend.
      div.col.offset-sm-3.align-self-center
        img.party-photos.img-thumbnail(
          src='static/content/jenny.png'
          alt='Jenny'
        )
    div.row.party-row
      div.col.offset-sm-1
        h1 Stephen Nichols
        p.sub-head Best Man
        p Powder cheesecake wafer pastry. Jelly-o jelly beans chocolate cake marzipan. Ice cream halvah tootsie roll fruitcake topping bonbon. Cookie cupcake muffin jelly-o tart danish chocolate bar topping pastry.
      div.col.offset-sm-3.align-self-center
        img.party-photos.img-thumbnail(
          src='static/content/stephen.png'
          alt='Stephen'
        )
    div.row.party-row
      div.col.offset-sm-1
        h1 Joseph Amendola
        p.sub-head Groomsman
        p Powder cheesecake wafer pastry. Jelly-o jelly beans chocolate cake marzipan. Ice cream halvah tootsie roll fruitcake topping bonbon. Cookie cupcake muffin jelly-o tart danish chocolate bar topping pastry.
      div.col.offset-sm-3.align-self-center
        img.party-photos.img-thumbnail(
          src='static/content/joe.png'
          alt='Joe'
        )
    div.row.party-row
      div.col.offset-sm-1
        h1 Saro Yakinian
        p.sub-head Groomsman
        p Powder cheesecake wafer pastry. Jelly-o jelly beans chocolate cake marzipan. Ice cream halvah tootsie roll fruitcake topping bonbon. Cookie cupcake muffin jelly-o tart danish chocolate bar topping pastry.
      div.col.offset-sm-3.align-self-center
        img.party-photos.img-thumbnail(
          src='static/content/saro.png'
          alt='Saro'
        )
    div.row.party-row
      div.col.offset-sm-1
        h1 Geoff Law
        p.sub-head Groomsman
        p Powder cheesecake wafer pastry. Jelly-o jelly beans chocolate cake marzipan. Ice cream halvah tootsie roll fruitcake topping bonbon. Cookie cupcake muffin jelly-o tart danish chocolate bar topping pastry.
      div.col.offset-sm-3.align-self-center
        img.party-photos.img-thumbnail(
          src='static/content/geoff.png'
          alt='Geoff'
        )
  include includes/footer
